<ion-view view-title="分揀指示">
    <div class="bar bar-subheader bar-stable">
        <ion-item class="item-input-inset">
            <span>區域</span>
            <input type="text" ng-model="search.DEVICE_AREA" name="title" />
            <span>呼出碼</span>
            <input type="text" ng-model="search.CALLING_NUM" name="title" />
            <span>作業區分</span>
            <input type="text" ng-model="search.Division" name="title" />
            <span>店鋪</span>
            <input type="text" ng-model="search.Shop" name="title" />
        </ion-item>
        <button class="button button-positive" ng-click="query('SFD001')">查詢</button>
        <div class="buttons">
            <button class="button button-positive" ng-click="query('SFD001','previous')">Previous</button>
            <button class="button button-positive" ng-click="query('SFD001','next')">Next</button>
        </div>
    </div>
    <ion-content class="has-header has-subheader">
        <div class="row">
            <div class="col">順序</div>
            <div class="col">呼出碼</div>
            <div class="col">作業區分</div>
            <div class="col">班別</div>
            <div class="col">傳票號碼</div>
            <div class="col">交貨日</div>
            <div class="col">店鋪代碼</div>
            <div class="col">計量區分</div>
            <div class="col">生產指示數</div>
            <div class="col">銷售單價</div>
            <div class="col">定價</div>
        </div>
        <div ng-repeat="item in SFD001">
            <div class="row">
                <div class="col">{{item.Field10}}</div>
                <div class="col">{{item.Field02}}</div>
                <div class="col">{{item.Field03}}</div>
                <div class="col">{{item.Field04}}</div>
                <div class="col">{{item.Field05}}</div>
                <div class="col">{{item.Field06}}</div>
                <div class="col">{{item.Field08}}</div>
                <div class="col">{{item.Field13}}</div>
                <div class="col">{{item.Field14}}</div>
                <div class="col">{{item.Field15}}</div>
                <div class="col">{{item.Field16}}</div>
            </div>
        </div>
    </ion-content>
</ion-view>